extends page

block content
    div.column
      div.content
        a(href='/town')
          h1 Townsfolk Generator
        a(href='/shop')
          h1 Shop Generator
        a(href='/token')
          h1 Token Creator
        
        
        