extends layout

block header
  div.header
    block scripts
    div.header-content
      div.header-left
        a(href='/')
          img(src='/images/logo-negative.png').header-image
      div.header-right
        a(href='/') projects
        a(href='/about') about
        a(href='/contact') contact
        a(href='https://github.com/lepidora')
          img(src='/images/github-negative.png').header-image
    
block footer
  div.footer.bottom
    div
      a(href='/')
        h4 Home
      a(href='/')
        h4 Projects
      a(href='/about')
        h4 About
      a(href='/contact')
        h4 Contact
    div
      a(href='https://github.com/lepidora')
        h4 GitHub
      a(href='https://twitter.com/lepidora_')
        h4 Twitter
      a(href='/')
        h4 LinkedIn