extends ../page

block scripts
  script(src='/scripts/common.js')
  script(src='/scripts/token.js')

block content
  div.column
    div.content
      h1 Token Creator
      
      h3 Choose Image
      input(type='file', id='fileinput')
      
      h3 Drag to Position
        
      canvas(id='canvas', style='width: 400px; height: 400px; background-color: #eee;', height=400, width=400)